<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {{#resume.basics}}
      {{> meta}}
    {{/resume.basics}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap">
    <style>{{{css}}}</style>
  </head>
  <body>
    {{#resume.basics}}
      {{> header}}
    {{/resume.basics}}

    {{> work}}
    {{> volunteer}}
    {{> education}}
    {{> projects}}
    {{> awards}}
    {{> certificates}}
    {{> publications}}
    {{> skills}}
    {{> languages}}
    {{> interests}}
    {{> references}}
    <section id="gdpr" style="
    text-align: center;
">
        <div style="
    grid-column: side;
    grid-column-end: 5;
    grid-column-start: 1;
    text-align: center;
"><p>Wyrażam zgodę na przetwarzanie moich danych osobowych w celu rekrutacji zgodnie z art. 6 ust. 1 lit. a Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych).</p><p>I hereby give consent for my personal data included in my application to be processed for the purposes of the recruitment process under the European Parliament's and Council of the European Union Regulation on the Protection of Natural Persons as of 27 April 2016, with regard to the processing of personal data and on the free movement of such data, and repealing Directive 95/46/EC (Data Protection Directive)</p>
</div>
      </section>
  </body>
</html>
